* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Old Standard TT', serif;
}

.row {
margin: 0;
}

.col-sm-12 {
font-size: 2.1rem;
}

.col-sm-8 {
border: 1px solid #c78800;
font-size: 1.3rem;
letter-spacing: 1px;
}

/*  JUMBOTRON*/
.jumbotron {
background-color: #F6AE12;
}

.jumbotron .text-center {
color: #04627C;
}

.jumbotron .text-center h1 {
font-size: 3rem;
font-weight: bold;
}

.jumbotron .text-center h2 {
font-size: 1.8rem;
}
/* END JUMBOTRON */
.container-fluid {
padding: 0;
}

.container-fluid .navbar {
background-color: #c78800;
}

.container-fluid .navbar .nav-link {
color: #04627C;
text-transform: capitalize;
}

.container-fluid .navbar .fa-shopping-cart {
color: white;
font-size: 1.3rem;
position: relative;
}

.container-fluid .navbar .fa-shopping-cart .nav-counter {
position: absolute;
top: -10px;
color: #04627C;
}

/* list of products */
.card {
overflow: hidden;
 }

.card img {
opacity: 0.5;
transform: scale(1);
transition: transform 1s ease;
}

.card img:hover {
transform: scale(1.1);
opacity: 1;
}

.card a{
  color: black;
}

.car-text{
  font-size: 1.2rem;
}

.price{
  font-size: 1.2rem;;
}

.quantity[type="number"]{
  width: 100px;
  height: 40px;
  font-size: 1.2rem;
}

.name{
  font-size: 1.1rem;
}
/* END LIST OF PRODUCTS */


/* Buttons */
.btn, .btn:hover {
  color: white;
  background-color: #04627C;
}

.total{
  margin: 35px;
  font-size: 1.7rem;
}

.form-group label{
  font-size: 1.2rem;
}

/* MESSAGE */
/* 
#message{
  font-size: 1.5rem;
  text-align: center;
  background-color: rgb(2, 112, 30);
  margin: 0;
  padding: 10px;
  color: antiquewhite;
}
 */
